@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
	padding: 0;
	margin: 0;
	background: white;
}


h1,p,ul{
	margin: 0;
  }
  
  ul{
	padding: 0;
	list-style: none;
  }
  
  a{
	text-decoration: none;
  }
  
  img{
	max-width: 100%;
	height: auto;
  }
  
  
  .header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
  }
  
  
  .nav{
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	align-items: center;
	position:fixed;
	width: 100%;
	box-shadow: 0 0 5px #121212;
  }
  
  .navtestlink {
	border: 1px solid var(--first-color-dark);
	padding: 10px;
  }
  
  .navlink.active {
	color: var(--first-color-dark)
  }
  
  @media screen and (max-width: 768px){
	.navmenu{
	  position: fixed;
	  top: 0;
	  right: -100%;
	  width: 70%;
	  height: 100%;
	  padding: 3.5rem 1.5rem 0;
	  background: rgba(255,255,255,.3);
	  backdrop-filter: blur(10px);
	  transition: .5s;
	}
  }
  
  .navclose{
	position: absolute;
	top: .75rem;
	right: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
  }
  
  .navitem{
	margin-bottom: 2rem;
  }
  
  .navclose, .navlink, .navBrand, .navtoggle{
	color: var(--black-color);
	transition: 0.3s;
  }
  
  .navlink:hover{
	color: var(--first-color-dark);
  }
  
  .navtoggle{
	font-size: 1.5rem;
	cursor: pointer;
	margin: 10px;
  }

.container h1{
	color: #1D3044;
	text-decoration: uppercase;
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
	font-family: "Poppins", sans-serif;
}


.container p{
	margin-top: 50px;
	font-weight: 400;
	font-size: 40px;
	color: #1D3044;
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
	font-family: "Poppins", sans-serif;
}


.container input{
	display: flex;
	position: relative;
	align-items: center;
	font-family: "Poppins", sans-serif;
	background: #00FF00;
}

#height{
	width: 40vw;
	margin: 5px 0;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    left: 30%;
    border: none;
    color: #1D3044;
}

#weight{
	margin: 5px 0;
    font-size: 20px;
    width: 40vw;
    padding: 10px;
    border-radius: 5px;
    left: 30%;
    border: none;
    color: #1D3044;
    background-color: #00FF00;
}

.container button{
	overflow-x: hidden;
	display: flex;
	position: absolute;
	margin: 25px;
	width: 200px;
	align-items: center;
	text-align: center;
	font-family: "Poppins", sans-serif;
}


#btn{
	margin-top: 25px;
	font-size: 30px;
	position: absolute;
	top: 70%;
	font-family: "Poppins", sans-serif;	
	font-weight: 500;
	right: 40%;
	background: #00FF00;
	color: #1D3044;
	border-radius: 30px;
	padding: 10px 25px;
	cursor: pointer;
	border: none;

}


.container #result{
	align-items: center;
}



#result{
	background: white;
	color: #1D3044;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 20px;
	position: absolute;
	top: 90%;
	left: 43%;
}
